<template>
  <div>
    <Drawer @routeClicked='toggle' v-show="showDrawer"/>
    <div class="container" :style='containerStyle'>
      <div class="header">
        <div class="toggler" @click="toggle">
          <div></div>
         <div></div>
        </div>
          Hey <i>{{username}}</i>, here is your dashboard, use it with ease.
      </div>

    <!-- MAIN CONTETNT  -->
      <div class="content">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import {ref} from 'vue'
import Drawer from '../components/Drawer'
import route from '../router'
import state from '../state'

export default {
  name:'Dashboard',
  components: {
    Drawer
  },
  setup(){
    let showDrawer = ref(false)
    let containerStyle = ref('')
    const routeName = ref(route.currentRoute)
    console.log(route)
    function toggle(){
      showDrawer.value = !showDrawer.value
      if(showDrawer.value){
        containerStyle.value = 'transform: translateX(244px)'
      } else {
        containerStyle.value = ''
      }
    }

    const username = state['userType']
    return {
      toggle,
      showDrawer,
      containerStyle,
      routeName,
      username
    }
  }
}
</script>

<style>
.header{
  width:100%;
  box-sizing: border-box;
  padding: 20px;
  background: #f7f7f7
}

.toggler{
  position: absolute;
  left: 20px;
  top: 15px;
  cursor: pointer
}
.toggler div{
  height: 5px;
  background: black;
  width: 23px;
  margin-top: 5px;
  border-radius: 5px
}
</style>
