<template>
  <div>
    <form action=""  @submit="send">
      <label for="username">username</label>
      <input type="text" v-model="username" name="username" id="username"> <br/>
      <label for="password">password</label>
      <input type="password" v-model="pass" name="password" id="password"> <br/>
      <input type="submit" value="Login">
    </form>

    <div class="alert" v-if="formError">
      Username and Password does not match, try another time
    </div>
  </div>
</template>

<script>
import {ref} from 'vue'
import router from '../router'
import state from '../state'

export default {
  name: 'Login',
  props: {
    msg: String,
  },
  setup(){
    const username = ref('')
    const pass = ref('')
    const formError = ref(false)

    function send(e){
      e.preventDefault()

       fetch("/api/login", {
         method: 'POST',
         headers: {
          'Content-Type': 'application/json'
         },
         body: JSON.stringify({
           username: username.value,
           pass: pass.value
         })
       })
        .then((res) => res.json())
        .then((json) => {
          if(json.status !== 'successful'){
            formError.value = true
            username.value = ''
            pass.value = ''
          }
          if(json.status === 'successful'){
            state.username = json.username
            state.userType = json.type
            state.loggedInState = true
            router.push('/dashboard')
          }
        })
    }

    return{
      send,
      username,
      pass,
      formError
    }
  }
};
</script>

<style scoped>

label{
  margin-right: 20px
}

.alert{
  color: orangered;
}

form{
  margin-top: 150px
}
</style>
