<template>
  <div class="drawer">
      <ul>
        <li><router-link @click="$emit('routeClicked')" to="/dashboard/setting">Setting</router-link></li>
        <li><router-link @click="$emit('routeClicked')" to="/dashboard/invoices">Invoices</router-link></li>
      </ul>
  </div>
</template>

<style scoped>
.drawer{
  height: 100%;
  background: wheat;
  position: fixed
}

ul{
  margin:0;
  padding: 90px;
  list-style: none;
}

ul li{
  padding: 0;
  margin-top: 40px
}
</style>
