<template>
  <div class="box">
    <button @click="$emit('update', id)" >edit</button>
    {{id}}
    <div class="price"><span>Price </span>${{price}}</div>
    <div class="comment">
      <span>Comment</span>
      {{comment}}
    </div>
  </div>
</template>

<script>
export default {
  props:['price', 'comment' ,'id']
}
</script>

<style scoped>
.box{
  text-align: left;
  box-shadow: 0px 2px 6px 1px #dfdfdf;
  padding: 40px;
  font-size: 18px;
  margin-left: 40px;
  min-width: 200px;
  margin-bottom: 30px;
  position: relative
}
button{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer
}
span{
  display: block;
  margin-bottom: 5px;
  color: #9b9b9b;
}

.comment, .price{
  margin-top: 20px
}
</style>
