<template>
  <div class="container">
    <button class="add" @click="openModalAdd">Add New Invoice</button>
    <div class="list">
    <div v-if='!invoicesData'>Loading...</div>
      <div v-else v-for="inv in invoicesData" :key='inv.id'>
        <Invoice :id='inv.id' :price='inv.price' :comment='inv.comment' @update='openModal'/>
      </div>
    </div>
     <Teleport to="body">
       <Modal v-if="showModal" :price='modalPrice' :id='modalId' :comment='modalComment' :type='modalType' @close='closeModal' @closeAndUpdate='closeAndUpdate'/>
     </Teleport>
  </div>

</template>

<script>
import {ref, vShow} from 'vue'
import Invoice from './Invoice'
import Modal from './Modal'

export default {
  components:{
    Invoice,
    Modal
  },
  setup(){
    const invoicesData = ref(null)
    function getInvoices() {
      fetch("/api/invoices", {
        method: 'Get',
       })
        .then((res) => res.json())
        .then((json) => {
          invoicesData.value = json.data
        })
    }
    getInvoices()

    const showModal = ref(false)
    const modalPrice = ref('')
    const modalComment = ref('')
    const modalId = ref('')
    const modalType = ref(null)
    function openModal(index) {
      modalPrice.value = invoicesData.value[index].price
      modalComment.value = invoicesData.value[index].comment
      modalId.value = invoicesData.value[index].id
      modalType.value = 'Update'
      showModal.value = true
    }

    function openModalAdd(){
      modalPrice.value = ''
      modalComment.value = ''
      modalId.value = ''
      modalType.value = 'Add'
      showModal.value = true
    }

    function closeModal() {
      showModal.value = false
    }

    function closeAndUpdate() {
      invoicesData.value = null
      getInvoices()
      showModal.value = false
    }

    return{
      openModal,
      openModalAdd,
      closeModal,
      closeAndUpdate,
      showModal,
      invoicesData,
      modalPrice,
      modalComment,
      modalId,
      modalType
    }
  }
}
</script>

<style scoped>
.container{
   margin: 50px 10%;
}

.list{
   display: flex;
   flex-wrap: wrap;
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #00000021
}


.add{
  margin-bottom: 50px
}

</style>
