<template>
  <div class="modal-container">
    <div class="main">
      <img src="../assets/close.svg" @click="$emit('close')" class="close" alt="close icon">
      <form action="" @submit.prevent="postForm">
        <label for="price">Price:</label>
        <input type="text" name="price" id="price" v-model="formPrice"> <br/>
        <label for="comment">Comment:</label>
        <input type="text" name="comment" id="comment" v-model="formComment"> <br/>
        <input type="submit" :disabled='callGoing' :value="type">
      </form>
    <div class="success" v-if="updateSuccess">Done Sucessfully!</div>
    </div>

  </div>

</template>

<script>
import {ref} from 'vue'
export default {
  props:['price', 'comment','id', 'type'],
  setup(props, {emit}){
    const callGoing = ref(false)
    const updateSuccess = ref(false)
    const formPrice = ref(props.price)
    const formComment = ref(props.comment)
    function postForm(){
      if(props.type === 'Update'){ upate() }
      if(props.type === 'Add'){ add() }
    }

    function upate(){
        callGoing.value = true
           fetch("/api/update_invoice", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            id: props.id,
            price: formPrice.value,
            comment: formComment.value
          })
        })
        .then((res) => res.json())
        .then((json) => {
          if(json.status === 'successful'){
            updateSuccess.value = true;
            setTimeout(() => {
              emit('closeAndUpdate')
              callGoing.value = false
            }, 1000);
          }
        })
    }


    function add() {
        callGoing.value = true
        fetch("/api/add_invoice", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            id: props.id,
            price: formPrice.value,
            comment: formComment.value
          })
        })
        .then((res) => res.json())
        .then((json) => {
          if(json.status === 'successful'){
            updateSuccess.value = true;
            setTimeout(() => {
              emit('closeAndUpdate')
              callGoing.value = false
            }, 1000);
          }
        })
    }

    return{
      formPrice,
      formComment,
      postForm,
      callGoing,
      updateSuccess
    }
  }
}
</script>

<style scoped>
.modal-container{
  position: fixed;
  left: 0;
  background: #00000024;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main{
  background: white;
  padding: 60px;
  position: relative;
}

input{
  margin-top: 30px
}

label{
  margin-right: 30px;
}

.close{
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
  height: 40px;
  right: 10px;
}

.success{
  color: green
}
</style>
