<template>
  <div>
    <h1>Setting</h1>
    <span>you can change your account setting here</span>
    <form action="" @submit="send">
      <label for="usernmae">username</label>
      <input type="text" v-model="username" name="username" id="username">
      <br/>
      <label for="password">password</label>
      <input type="password" v-model="pass" name="password" id="password">
      <br/>
      <input type="submit" value="Update!">
    </form>
    <div class="success" v-show="updated">
      Your data has been successfully updated.
    </div>
    <div class="failure" v-show="showError">
      Inputs can't be empty
    </div>
  </div>
</template>

<script>
import {ref} from 'vue'
import router from '../router'
import state from '../state'

export default {
  name: 'Login',
  props: {
    msg: String,
  },
  setup(){
    const username = ref('')
    const pass = ref('')
    const formError = ref(false)
    const updated = ref(false)

    const showError = ref(false)
    function validate() {
      if(username.value === '' || pass.value ===''){
        showError.value = true
        updated.value = false
        return false
      }
      showError.value = false
      return true
    }

    function send(e){
      e.preventDefault()
      if(!validate()) return;
       fetch("/api/update", {
         method: 'POST',
         headers: {
          'Content-Type': 'application/json'
         },
         body: JSON.stringify({
           username: username.value,
           pass: pass.value
         })
       })
        .then((res) => res.json())
        .then((json) => {
          if(json.status === 'successful'){
            updated.value = true
          }
        })
    }

    return{
      username,
      pass,
      send,
      updated,
      showError
    }
  }
};
</script>

<style scoped>
input{
  margin-top: 20px;
}

label{
  margin-right: 20px;
}

.success{
  color: green
}

.failure{
  color: red
}
</style>
