<template>
  <div id="nav">
    <!-- <router-link to="/">Home</router-link> | -->
    <router-view/>
    <div class="modal-portal"></div>
  </div>
</template>

<style>
body{
  margin:0;
  padding: 0;
  overflow-x: hidden
}
input{
  margin-bottom: 20px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid gainsboro
}

input[type=submit]{
  border:none;
  height: auto;
  padding: 20px;
}

button{
  border: none;
   padding: 10px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

</style>
